<% provide(:title, "About") %>
<body>
    <h1>About</h1>
    <p>
        BrandVerge is designed to help advertising buyers and sellers interact with eachother in a convenient, informative, and explorative environment.
    </p>
</body>
