<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
    Contact the owners of this website:
    <%= mail_to "lynn@gobrandverge.com", "Lynn", subject: "BrandVerge Support" %>,
    <%= mail_to "mollie@gobrandverge.com", "Mollie", subject: "BrandVerge Support" %>,
    <%= mail_to "james@gobrandverge.com", "James", subject: "BrandVerge Support" %>.
</p>
