<% provide(:title, "Help") %>
<!DOCTYPE html>
<body>
    <h1>Help</h1>
    <h2>Signing Up An Organization</h2>
    <p>
        To sign up an organization, visit <%= link_to "this link", register_path %> and complete the prompt.
        This form will allow you to submit some of the basics about your organization,
        and also allows you to create a user account with the priviliges to lead that organization,
        and also asks you to specify the web locations associated with the organization's content.
    </p>
</body>
