<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <% if current_user.seller? %>
                <section class="seller_command_station">
                    <%= render 'shared/seller_command_station' %>
                </section>
            <% end %>
        </aside>
        <div class="col-md-8">
            <h3>Proposal Feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <h1>BrandVerge</h1>
        <h2>Home page for those not logged in.</h2>
        <p>
            Hello, World! <br \>
            Follow the link below to get started.
        </p>
        <%= link_to "Register Your Organization To Join The Platform", register_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
