<div class="center jumbotron">
    <h1>Sample App</h1>
    <h2>Guess what? This is the home page.</h2>
    <p>
        Hello, World! <br \>
        Lots of text here.
    </p>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("problems-xkcd.png", alt: "Funny comics"),
'http://xkcd.com/' %>
