<h1>Greetings From Colab!</h1>

<p>
Your Team Lead has invited you to join our platform! Click the link below to sign up to use our platform:
</p>

<%= link_to "Sign Up", new_user_url(email: @invitation.email) %>
