<li>
    <%= link_to publisher.name, publisher %>
    <% if current_user.admin? %>
        | <%= link_to "admin delete", publisher, method: :delete,
          data: { confirm: "You sure?" } %>
    <% end %>
</li>
