<div class="nested-fields">
    <%= f.input :name, label: "Website Name" %>
    <%= f.input :url, label: "URL", placeholder: "example.com" %>
    <%= link_to_remove_association "remove this site", f %>
</div>
